* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #ece9d5;
    
}

header img {
    width: 100%;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
 	position: absolute;
    padding: 10px;
}

#menu::before {
	content: "☰";
    color: #222544;
}

#menu.open::before {
	content: "X";
    color: #e8ebee;
}

.navigation {
    display: none;
    flex-direction: column;
    list-style: none;
    align-items: center;
    background-color: #6a1212;
}

.navigation ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation li {
    width: 100%;
}

.navigation a {
    text-decoration: none;
    font-size: larger;
    color: #e8ebee;
    display: block;
    padding: 1rem;
    text-align: center;
}

.navigation a:hover {
    background-color: #222544;
    color: #e8ebee;
}

.navigation.open {
	display: flex;
}

body {
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    background-color: #ece9d5;
}

main {
    margin: 0 auto;
    max-width: 100%;
    padding: 20px;
    margin-top: 20px;
}

h1 {
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
    color: #222544;
    margin-bottom: 20px;
}

.card, .card2, .card3, .card4 {
    background-color: #e8ebee;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 50px;
    margin-bottom: 20px;
    text-align: center;
    color: #222544;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    text-decoration: underline;
    padding-bottom: 5px;
}

footer {
    background-color: #6a1212;
    color: #e8ebee;
    font-size: xx-small;
    padding: 10px;
}

h2, h1, a {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
}

p {
    font-family: "Roboto Slab", serif;
    font-weight: 400
}

.images {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #e8ebee;
}

.images h2 {
    text-align: center;
}

header h2 {
    text-align: center;
    margin-top: 10px;
}

.images img{
    width: 100%;
    height: auto;
    border: 10px solid #6a1212;
    margin-bottom: 20px;
    animation: fade 15s;
}



.discover2 img {
    border: 10px solid #6a1212;
    width: 60%;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sidebar section {
    background-color: #e8ebee;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 50px;
    margin-bottom: 20px;
    text-align: center;
    color: #222544;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: 10px;
    border: 1px solid #ccc;
}

.calendar .day {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #f9f9f9;
}

.calendar .header {
    font-weight: bold;
    background-color: #eee;
}

.calendar .empty {
    background-color: transparent;
    border: none;
}